.formControl * {
  width: 95%;
}
.formControl {
  transition: 1s;
  width: 20rem;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  display: flex;
  box-shadow: 1px 1px 15px -8px rgba(0,0,0,0.75);
  gap: 1rem;
}
.formControl button {
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #6366f1;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  outline: none;
}
.formControl button:hover{
  background-color: #4f46e5;
}
/* .formControl button:focus{
  background-color: aqua;
} */